---
import BaseLayout from '../layouts/BaseLayout.astro';
import FormatedDate from '../components/FormatedDate.astro';
import { getCollection } from 'astro:content'; 
import Typewriter from "astro-typewriter";



const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

const pull_requests = (await getCollection('pull_request')).sort(
	(a, b) => a.data.prDate.valueOf() - b.data.prDate.valueOf(),
);
---

<BaseLayout bodyClass="home">
	<h1>Hi, I'm Akhilesh, 
		<Typewriter messages={["a developer.", "a tinkerer..", "a student."]}/>
	</h1>

	<p class="half">I'm Akhilesh, Currently pursuing B-Tech  in computer science at Heritage, Kolkata from 2022—2026. 
		<br/>
		During summer of 2024, I joined  
		a startup named <a href="https://www.faralpha.com/">FarAlpha</a>
		as <a> software developer </a> intern.</span> I worked on CI/CD pipelines, AWS, Terraform,  NodeJs, FastAPI, Web-Scraping, Selenium, 
		ReactJs, Flutter & Firebase. 
	</p>


	<span class="">some cool things i have done: </span>
	<ul>
		<li>Got selected <a href="https://github.com/gofr-dev/gofr/pull/2072">GoFr Summer of Code</a> (2025) and contributed to the open-source microservices framework by adding built-in <a href=""> InfluxDB support </a> with core features, 80% test coverage.</li>
		<li>Became Pupil(1320) on <a>Codeforces</a>, 1700+ Rated <a href="https://leetcode.com/u/akhilsharmaa/"> Leetcode</a>
			in 2nd year of college, then got into open-source and <a>building</a>, understanding software.</li>
		<li>(for fun) i also won a blind folded coding comp in college, i actually wrote binary search in C++ with my eyes closed, and it's actually <a>compiled</a></li>
	</ul>



      <!-- ---------------------- -->
      <!------- MY Projects  ------->
      <!-- ---------------------- -->
      <p>
        My Projects:
      </p> 
	<ul>
	{projects.map(async (project) => {
	  return (
	    <li> 
	      <a href={project.data.codeLink}>{project.data.title}</a>
	      :
	      <br/>
	      {project.data.description} 
	    </li>
	  );
	 })
	}
	</ul>

    <hr/>
    <div class="flex-wrap-between">
      <div> 
        <p> Pull Requests: </p> 
	<ul style="list-style: none; padding-left: 0; margin: 0;">
	{
		pull_requests.map(async (pr) => {
		  return (
		    <li> 
			    {pr.data.prStatus} --
			<a href={pr.data.orgLink}>({pr.data.orgName})</a>, 
			<a href={pr.data.prLink}>{pr.data.prTitle}</a>, 
			
		    </li>
		  );
		})
	}
	</ul>
      </div>

      <div> 
        <p> Blogs (Medium): </p> 
	<ul style="list-style: none; padding-left: 0; margin: 0;">
	{
		blogs.map(async (blog) => {
		  return (
		    <li > 
			<FormatedDate date={blog.data.pubDate} /> 
			--  <a href={blog.data.title}>{blog.data.title}</a>
		    </li>
		  );
		})
	}
	</ul>
      </div>
    </div>
</BaseLayout>
